
:root {
    --color-red: #ff211e;      
    --color-track: #dddddd;    
    --bg-white: #ffffff;       
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-white);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
}

.p-stc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.p-bg {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.p-left, .p-right {
    position: relative;
    width: 50%;
    height: 100%;
}

.p-left svg, .p-right svg {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
}

.p-left svg { left: 0; }
.p-right svg { right: 0; }


.st-base {
    fill: none;
    stroke: var(--color-track);
    
    stroke-width: 1px; 
    
    opacity: 0.4; 
}

.st-anim {
    fill: none;
    stroke: var(--color-red);
    
    stroke-width: 1px; 
    
    stroke-dasharray: 600 1400; 
    stroke-dashoffset: 2000;
    animation: lineFlow 4s linear infinite; 
    
    mix-blend-mode: multiply; 
}


@keyframes lineFlow {
    to {
        stroke-dashoffset: 0;
    }
}

.hero-content {
    position: relative;
    z-index: 10;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: sans-serif;
    font-size: 6rem;
    color: #000;
    margin: 0;
    letter-spacing: 5px;
    font-weight: 900;
    text-transform: uppercase;
}

p {
    font-family: sans-serif;
    font-size: 1.2rem;
    letter-spacing: 5px;
    margin-top: 10px;
    font-weight: 700;
}